*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.nav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;

}
.nav-item{

}