*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.nav {
    display: flex;
    list-style-type: none;

    padding-left: 45px;
}
.logo-title{
    display: flex;
    justify-content: center
}
.nav-item{

}