*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.nav {
    display: flex;
    list-style-type: none;
    padding-left: 45px;
}
.logo-title {
    justify-content: center
}
.nav-item {
    list-style-type: none;
    display: flex;
}
.search {
    background-color: #555;
    height: 27px;
    width: 292px;
}
.solid-border {
    border-top: 3px solid #555;
    
}